{%- set py_major_minor = python_version.split('.')[:2] | join('.') -%}
{%- set py_target = 'py' + python_version.split('.')[:2] | join('') -%}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ package_name }}"
version = "0.1.0"
description = ""
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
readme = "README.md"
requires-python = ">={{ py_major_minor }}"
dependencies = [
{%- if project_type == 'pipeline-kfp' %}
    "google-cloud-aiplatform>=1.127.0",
    "google-cloud-storage>=3.6.0",
    "kfp>=2.14.6",
    "pyarrow>=15.0.0",
    "pyyaml>=6.0.3",
{%- endif %}
]

[dependency-groups]
dev = [
    "ruff",
    "pytest",
    "pre-commit",
    "jupytext",
{%- if project_type in ['package', 'pipeline-kfp'] %}
    "sphinx",
    "furo",
{%- endif %}
]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name }}"]

[tool.ruff]
line-length = 88
target-version = "{{ py_target }}"
extend-exclude = ["*.md", ".venv"]

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]
