# {{ project_name }}

TODO — one sentence on what this project does.

## Setup

```bash
uv sync
task lint
task test
```

## Ensuring reproducibility

Dependancies are handled by `uv` and `uv.lock` is where all Dependancies are documented. As a result, `uv.lock` should be committed.
